In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

### using groupby

In [98]:
df.groupby(['Category']).describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [99]:
df['spam'] = df['Category'].apply( lambda x: 1 if (x == 'spam') else 0 )
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

## Train Test Split

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
x_train,x_test,y_train,y_test = train_test_split(df.Message , df['spam'] , test_size =0.3)

In [102]:
print(x_train.values)

['Im sorry bout last nite it wasn\x92t ur fault it was me, spouse it was pmt or sumthin! U 4give me? I think u shldxxxx'
 "Oh dang! I didn't mean o send that to you! Lol!"
 'Hey mr whats the name of that bill brison book the one about language and words'
 ... 'Ü v ma fan...' 'I am sorry it hurt you.'
 "Yunny i'm walking in citylink now ü faster come down... Me very hungry..."]

## CountVectorizer

In [103]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## Multinomial Naive Bayes

In [104]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [105]:
model.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [106]:
model.score(x_train_count,y_train)

0.9946153846153846

### theory
in above data set i converted the message into array format by using countvectorizer and if i want to test the message if it is spam or not i have to convert that data into array

In [109]:
email = [
    'hey deepti, can we drink coffee tommorow?',
    'upto 20% discount on chinese course,exclusive offer just for you'
]
email1 = v.transform(email)

In [110]:
model.predict(email1)

array([0, 1], dtype=int64)

## Using Pipeline

In [111]:
from sklearn.pipeline import Pipeline

In [112]:
pipe = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb' , MultinomialNB())
    
])

In [113]:
pipe.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [115]:
pipe.score(x_train,y_train)

0.9946153846153846

In [114]:
pipe.score(x_test,y_test)

0.9844497607655502